# DB "postgresql user password: u2B0T0FSeGmC6aUR, prism pas"
DATABASE_URL="postgresql://postgres.nmgrlogjrnetqbommmym:u2B0T0FSeGmC6aUR@aws-0-eu-central-1.pooler.supabase.com:6543/postgres"
NEXT_PUBLIC_SUPABASE_URL=https://nmgrlogjrnetqbommmym.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5tZ3Jsb2dqcm5ldHFib21tbXltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjgzNTksImV4cCI6MjA1OTg0NDM1OX0.lJSiUafVXlcuMWBl5Z-z831rIRwhYH8s-TUdzDbnnxM