NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cHJpbWUtamVubmV0LTQ2LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_g7E06r5C82SDmAx8darKGeKQobFOGMhdSdql16ksbz

NEXT_PUBLIC_CLERK_SIGN_UP_URL=/auth/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/auth/sign-in
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/dashboard


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
# Connect to Supabase via connection pooling.
# DB "postgresql user password: u2B0T0FSeGmC6aUR, prism pas"
DATABASE_URL="postgresql://prisma.nmgrlogjrnetqbommmym:YMfZi2v4g3Nwa9@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://prisma.nmgrlogjrnetqbommmym:YMfZi2v4g3Nwa9@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"